# Git
/.git/
/.gitattributes
/.gitignore

# GitHub
/.github/

# Vercel
/.vercel/

# VSCode
/.vscode/

# Documents
/docs/

# WordPress
/wordpress/

# Secrets
/.env
/.env.*

# Docker
/nginx/Dockerfile
/.dockerignore
/docker-compose.yaml
